.services-container {
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  display: grid;
  gap: 20px;
  margin: 0 auto;
}

.service-card {
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgb(95, 93, 93);

}


.service-card i {
  font-size: 40px;
  color: var(--ocean-depth);
  margin-bottom: 15px;
}

.service-card h3 {
  margin: 0;
  font-size: 20px;
  color: white;
}

.service-card p {
  font-size: 14px;
  color: gray;
  line-height: 1.6;
  margin: 10px 0;
}